name: CI
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
env:
  FC: ifort
jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        path: [ absolute, relative, tilde, default ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set bin path
        if: runner.os != 'Windows'
        run: |
          if [ "${{ matrix.path }}" == "absolute" ]; then
            bindir="$HOME/.local/bin"
          elif [ "${{ matrix.path }}" == "relative" ]; then
            bindir="bin"
          elif [ "${{ matrix.path }}" == "tilde" ]; then
            bindir="~/.local/bin"
          else
            # action's default location
            bindir="~/.local/bin/ifort"
          fi

          echo "TEST_BINDIR=$bindir" >> $GITHUB_ENV
      - name: Set bin path (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          if ("${{ matrix.path }}" -eq "absolute") {
            # $bindir = "C:\Users\runneradmin\.local\bin"
            $bindir = "C:\Program Files (x86)\Intel\oneAPI"
          } elseif ("${{ matrix.path }}" -eq "relative") {
            $bindir = "bin"
          } elseif ("${{ matrix.path }}" -eq "tilde") {
            $bindir = "~/.local/bin"
          } else {
            # actions's default location
            $bindir = "~/.local/bin/ifort"
          }

          echo "TEST_BINDIR=$bindir" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Install ifort
        if: matrix.path != 'default'
        uses: ./
        with:
          path: ${{ env.TEST_BINDIR }}
      - name: Install ifort
        if: matrix.path == 'default'
        uses: ./
      - name: Test ifort (Linux & Mac)
        if: runner.os != 'Windows'
        run: |
          ./test/test.sh ${{ env.TEST_BINDIR }}
      - name: Test ifort (Windows bash)
        if: runner.os == 'Windows'
        shell: bash
        run: |
          # make sure MSVC linker is found
          export PATH="/C/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Tools/MSVC/14.33.31629/bin/Hostx64/x64":$PATH
          
          if command -v ifort &> /dev/null
          then
            echo "ifort found"
          else
            echo "ifort not available"
            exit 1
          fi

          ifort test/hw.f90 -o hw
          output=$(./hw '2>&1')
          if [[ "$output" == *"hello world"* ]]
          then
            echo "compile succeeded"
            echo "$output"
          else
            echo "unexpected output: $output"
            exit 1
          fi
      - name: Test ifort (Windows pwsh)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          ./test/test.ps1 "${{ env.TEST_BINDIR }}"
      - name: Test ifort (Windows cmd)
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          call "./test/test.bat"